#menu-accordion {

	.section-title-m {
			color: #222;
			font-family: 'Roboto Slab', serif;
			font-size: 28px;
			line-height: 50px;
			text-shadow: 2px 2px 0px #fff;
			text-align: center;
			padding-top: 15px;
			margin-top: 0;
			border-bottom: 3px solid #5EBDDF;
	}
}

.section-detail-m {
	text-align: center;
	margin-bottom: 10px;

	h5 {
		color: #222;
		text-shadow: 2px 2px 0px #fff;
	}
}

footer#mobile-menu-footer {
	margin-top: 23px;
}

li#sides-label {
	border-top: 1px solid #222;
	padding-top: 15px;
}

#menu-accordion {
	ul.no-bullet {
		margin-bottom: 0;

		li {
			font-weight: 700;
			text-shadow: 1px .5px 0px #111;
			font-size: 20px;
			color: #5EBDDF;

			span {
				font-weight: 400;
				color: #222;
				text-shadow: none;
			}
		}

		li.sides {
			font-weight: 400;
			text-shadow: none;
			color: #222;
		}

		li.gratuity {
			font-weight: 400;
			text-shadow: none;
			color: #222;
		}

		ul.description {
			margin-left: 0;
			margin-bottom: 20px;
			list-style: none;

			li {
				line-height: 1.5;
				font-weight: 400;
				text-shadow: none;
				font-size: 16px;
				color: #222;
			}
		}
	}
}
