$max-740: "only screen and (max-width : 740px)";
$max-520: "only screen and (max-width : 520px)";

aside#golf-tourney {
	height: 150px;
	padding: 18px;
	background: #5EBDDF;
	width: 100%;
	text-align: center;

	h3 {
		font-size: 30px;

		span {
			display: inline-block;
		}
	}

	a.button {
		background: #fff;
		color: #333;
		box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.50);
		border-radius: 6px;
		font-family: 'Roboto Slab', serif;
		font-size: 30px;
		padding: 10px 40px 14px;

		&:hover {
			text-shadow: 0 3px 1px #cecece;
			box-shadow: 0px 1px 1px 0px #000;
		}
	}

	@media #{$max-740} {
		height: 120px;
		padding: 10px;

		h3,
		a.button {
			font-size: 22px;
		}
	}

	@media #{$max-520} {
		height: 150px;
	}
}

section#golf-tourney-info {
	margin-top: 60px;

	li.tab-title {

		a.button {
			background: #fff;
			color: #333;
			box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.50);
			border-radius: 6px;
			font-family: 'Roboto Slab', serif;
			font-size: 30px;
			padding: 10px 40px 14px;

			&:hover {
				background: #5EBDDF;
				color: #fff;
				box-shadow: 0px 1px 1px 0px #000;
			}
		}
	}

	li.tab-title.active {
		a.button {
			background: #5EBDDF;
			color: #fff;
		}
	}

	.tabs-content {
		h2 {
			text-align: center;
			text-shadow: 2px 2px 0 #000;
		}
	}
	form {
		margin-bottom: 20px;
		label {
			font-family: 'Lato', sans-serif;
			font-weight: 700;
			font-size: 18px;
			color: #fff;
			text-shadow: 2px 2px 0 #000;
		}
	}

	@media #{$max-740} {
		a.button {
			font-size: 22px;
		}
	}
}